version: 2
updates:
  - package-ecosystem: "npm"
	directory: "/"
	schedule:
	  interval: "weekly"
	  day: "monday"
	  time: "04:00"
	open-pull-requests-limit: 10
	reviewers:
	  - "aa-parky"
	allow:
	  - dependency-type: "all"

  - package-ecosystem: "github-actions"
	directory: "/"
	schedule:
	  interval: "weekly"
	  day: "monday"
	  time: "04:00"
	reviewers:
	  - "aa-parky"